interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2023-02-21T05:07:35Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "", "dnsPrefix": "my-aks-clu-clitestrgtvlkc-23f95f", "agentPoolProfiles":
      [{"count": 4, "vmSize": "Standard_DS2_v2", "osDiskSizeGB": 0, "osType": "Linux",
      "maxCount": 10, "minCount": 4, "enableAutoScaling": true, "type": "VirtualMachineScaleSets",
      "mode": "System", "orchestratorVersion": "", "upgradeSettings": {}, "enableNodePublicIP":
      false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice":
      -1.0, "nodeTaints": [], "enableEncryptionAtHost": false, "enableUltraSSD": false,
      "enableFIPS": false, "name": "nodepool1"}], "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDGk3i/MW4IwP9E5pM45ToHdqeEkcpDrH7qQP0ZX3+NQyUQBJFsjD4+SNF/zPm1a6Q53Xhurdy5w5m3lDlVaEGwWYPRlgIZ2GQkv+vZdiQ+YqH+f7Se5DcEQMmnrrdKIqwbug71n5j/KOOlkpBQfa3sOFaE4bPZkX1ufJW3eO4y/+uASqIYEAh0x6PFljgi17PGgYAiyE4oBUbp7HlvLDNsVutMAQ1zTHvaswdTrvXhVT/Fk+Bbgy/vZtD28i/MIWBjGHcaLXhTzATllQYXxgGbaMJogLfihKpWBFhCWVa/3/jbVxebtkhudU1jQg2tzfKdXHIjF1Yh7qW3FLyeDb5R"}]}},
      "addonProfiles": {}, "enableRBAC": true, "networkProfile": {"networkPlugin":
      "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP":
      "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer",
      "loadBalancerSku": "standard"}, "aadProfile": {"managed": true, "enableAzureRBAC":
      false}, "disableLocalAccounts": false, "storageProfile": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerService/managedClusters/my-aks-cluster?api-version=2022-09-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ContainerService/managedClusters/my-aks-cluster\",\n
        \ \"location\": \"eastus\",\n  \"name\": \"my-aks-cluster\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.24.9\",\n   \"currentKubernetesVersion\": \"1.24.9\",\n   \"dnsPrefix\":
        \"my-aks-clu-clitestrgtvlkc-23f95f\",\n   \"fqdn\": \"my-aks-clu-clitestrgtvlkc-23f95f-c3b103d0.hcp.eastus.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"my-aks-clu-clitestrgtvlkc-23f95f-c3b103d0.portal.hcp.eastus.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        4,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"maxPods\": 110,\n
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"maxCount\": 10,\n     \"minCount\":
        4,\n     \"enableAutoScaling\": true,\n     \"provisioningState\": \"Creating\",\n
        \    \"powerState\": {\n      \"code\": \"Running\"\n     },\n     \"orchestratorVersion\":
        \"1.24.9\",\n     \"currentOrchestratorVersion\": \"1.24.9\",\n     \"enableNodePublicIP\":
        false,\n     \"mode\": \"System\",\n     \"enableEncryptionAtHost\": false,\n
        \    \"enableUltraSSD\": false,\n     \"osType\": \"Linux\",\n     \"osSKU\":
        \"Ubuntu\",\n     \"nodeImageVersion\": \"AKSUbuntu-1804gen2containerd-2023.02.09\",\n
        \    \"upgradeSettings\": {},\n     \"enableFIPS\": false\n    }\n   ],\n
        \  \"linuxProfile\": {\n    \"adminUsername\": \"azureuser\",\n    \"ssh\":
        {\n     \"publicKeys\": [\n      {\n       \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDGk3i/MW4IwP9E5pM45ToHdqeEkcpDrH7qQP0ZX3+NQyUQBJFsjD4+SNF/zPm1a6Q53Xhurdy5w5m3lDlVaEGwWYPRlgIZ2GQkv+vZdiQ+YqH+f7Se5DcEQMmnrrdKIqwbug71n5j/KOOlkpBQfa3sOFaE4bPZkX1ufJW3eO4y/+uASqIYEAh0x6PFljgi17PGgYAiyE4oBUbp7HlvLDNsVutMAQ1zTHvaswdTrvXhVT/Fk+Bbgy/vZtD28i/MIWBjGHcaLXhTzATllQYXxgGbaMJogLfihKpWBFhCWVa/3/jbVxebtkhudU1jQg2tzfKdXHIjF1Yh7qW3FLyeDb5R\"\n
        \     }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\": {\n    \"clientId\":
        \"msi\"\n   },\n   \"nodeResourceGroup\": \"MC_clitest.rg000001_my-aks-cluster_eastus\",\n
        \  \"enableRBAC\": true,\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\":
        {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     }\n    },\n    \"podCidr\":
        \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\":
        \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\":
        \"loadBalancer\",\n    \"podCidrs\": [\n     \"10.244.0.0/16\"\n    ],\n    \"serviceCidrs\":
        [\n     \"10.0.0.0/16\"\n    ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ]\n
        \  },\n   \"aadProfile\": {\n    \"managed\": true,\n    \"adminGroupObjectIDs\":
        null,\n    \"adminUsers\": null,\n    \"enableAzureRBAC\": false,\n    \"tenantID\":
        \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n   },\n   \"maxAgentPools\": 100,\n
        \  \"disableLocalAccounts\": false,\n   \"securityProfile\": {},\n   \"storageProfile\":
        {\n    \"diskCSIDriver\": {\n     \"enabled\": true\n    },\n    \"fileCSIDriver\":
        {\n     \"enabled\": true\n    },\n    \"snapshotController\": {\n     \"enabled\":
        true\n    }\n   },\n   \"oidcIssuerProfile\": {\n    \"enabled\": false\n
        \  }\n  },\n  \"identity\": {\n   \"type\": \"SystemAssigned\",\n   \"principalId\":
        \"dda73708-b21e-4877-b33b-3fa46b3634ad\",\n   \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n
        \ },\n  \"sku\": {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n
        }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/c0cad476-b28e-450d-a61f-224ca1e39d90?api-version=2017-08-31
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/c0cad476-b28e-450d-a61f-224ca1e39d90?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"76d4cac0-8eb2-0d45-a61f-224ca1e39d90\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2023-02-21T05:07:51.5506856Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/c0cad476-b28e-450d-a61f-224ca1e39d90?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"76d4cac0-8eb2-0d45-a61f-224ca1e39d90\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2023-02-21T05:07:51.5506856Z\",\n  \"endTime\":
        \"2023-02-21T05:11:30.8594088Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerService/managedClusters/my-aks-cluster/listClusterAdminCredential?api-version=2022-09-01
  response:
    body:
      string: "{\n  \"kubeconfigs\": [\n   {\n    \"name\": \"clusterAdmin\",\n    \"value\":
        \"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VVMlZFTkRRWFJIWjBGM1NVSkJaMGxTUVZBdlMwWnhVVzloUTBzd2NHMWxkV2RFV0ZkTFMyTjNSRkZaU2t0dldrbG9kbU5PUVZGRlRFSlJRWGNLUkZSRlRFMUJhMGRCTVZWRlFYaE5RMWt5UlhkSlFtTk9UV3BOZDAxcVNYaE5SRkV4VDBSSk5GZG9aMUJOYWtFeFRYcEJlVTFxUlhkT1ZFRTBUV3BvWVFwTlFUQjRRM3BCU2tKblRsWkNRVTFVUVcxT2FFMUpTVU5KYWtGT1FtZHJjV2hyYVVjNWR6QkNRVkZGUmtGQlQwTkJaemhCVFVsSlEwTm5TME5CWjBWQkNtO[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kubernetes?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kubernetes","namespace":"Microsoft.Kubernetes","authorizations":[{"applicationId":"64b12d6e-6549-484c-8cc6-6281839ba394","roleDefinitionId":"1d1d44cf-68a1-4def-a2b6-cd7efc3515af"},{"applicationId":"359431ad-ece5-496b-8768-be4bbfd82f36","roleDefinitionId":"1b5c71b7-9814-4b40-b62a-23018af874d8"},{"applicationId":"0000dab9-8b21-4ba2-807f-1743968cef00","roleDefinitionId":"1b5c71b7-9814-4b40-b62a-23018af874d8"},{"applicationId":"8edd93e1-2103-40b4-bd70-6e34e586362d","roleDefinitionId":"eb67887a-31e8-4e4e-bf5b-14ff79351a6f"}],"resourceTypes":[{"resourceType":"connectedClusters","locations":["West
        Europe","East US","West Central US","South Central US","Southeast Asia","UK
        South","East US 2","West US 2","Australia East","North Europe","France Central","Central
        US","West US","North Central US","Korea Central","Japan East","East Asia","West
        US 3","Canada Central","East US 2 EUAP"],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"SystemAssignedResourceIdentity,
        SupportsTags, SupportsLocation"},{"resourceType":"locations","locations":[],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"locations/operationStatuses","locations":["East
        US 2 EUAP","West Europe","East US","West Central US","South Central US","Southeast
        Asia","UK South","East US 2","West US 2","Australia East","North Europe","France
        Central","Central US","West US","North Central US","Korea Central","Japan
        East","East Asia","West US 3","Canada East","Canada Central","Switzerland
        North"],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"registeredSubscriptions","locations":[],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"Operations","locations":[],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview","2019-11-01-preview","2019-09-01-privatepreview"],"capabilities":"None"}],"registrationState":"Registered","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration","namespace":"Microsoft.KubernetesConfiguration","authorizations":[{"applicationId":"c699bf69-fb1d-4eaf-999b-99e6b2ae4d85","roleDefinitionId":"901554[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://my-aks-clu-clitestrgtvlkc-23f95f-c3b103d0.hcp.eastus.azmk8s.io/version/
  response:
    body:
      string: "{\n  \"major\": \"1\",\n  \"minor\": \"24\",\n  \"gitVersion\": \"v1.24.9\",\n
        \ \"gitCommit\": \"9710807c82740b9799453677c977758becf0acbb\",\n  \"gitTreeState\":
        \"clean\",\n  \"buildDate\": \"2022-12-13T08:17:45Z\",\n  \"goVersion\": \"go1.18.9\",\n
        \ \"compiler\": \"gc\",\n  \"platform\": \"linux/amd64\"\n}"
    headers:
      audit-id:
      - 619bc08d-a051-48cc-848e-3b8c60e0f80b
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - 89519159-3751-4f46-8f5e-ed50fac957b5
      x-kubernetes-pf-prioritylevel-uid:
      - 21509e93-c9e6-4877-8c7d-9ae6c93e71ff
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://my-aks-clu-clitestrgtvlkc-23f95f-c3b103d0.hcp.eastus.azmk8s.io/api/v1/nodes
  response:
    body:
      string: '{"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"1687"},"items":[{"metadata":{"name":"aks-nodepool1-33547119-vmss000000","uid":"c443555b-5d82-4e71-a122-9339e8c06075","resourceVersion":"1667","creationTimestamp":"2023-02-21T05:10:35Z","labels":{"agentpool":"nodepool1","beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"Standard_DS2_v2","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"eastus","failure-domain.beta.kubernetes.io/zone":"0","kubernetes.azure.com/agentpool":"nodepool1","kubernetes.azure.com/cluster":"MC_clitest.rg000001_my-aks-cluster_eastus","kubernetes.azure.com/kubelet-identity-client-id":"cd363cae-58dc-4d40-93ac-efd5dabb3324","kubernetes.azure.com/mode":"system","kubernetes.azure.com/node-image-version":"AKSUbuntu-1804gen2containerd-2023.02.09","kubernetes.azure.com/os-sku":"Ubuntu","kubernetes.azure.com/role":"agent","kubernetes.azure.com/storageprofile":"managed","kubernetes.azure.com/storagetier":"Premium_LRS","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"aks-nodepool1-33547119-vmss000000","kubernetes.io/os":"linux","kubernetes.io/role":"agent","node-role.kubernetes.io/agent":"","node.kubernetes.io/instance-type":"Standard_DS2_v2","storageprofile":"managed","storagetier":"Premium_LRS","topology.disk.csi.azure.com/zone":"","topology.kubernetes.io/region":"eastus","topology.kubernetes.io/zone":"0"},"annotations":{"csi.volume.kubernetes.io/nodeid":"{\"disk.csi.azure.com\":\"aks-nodepool1-33547119-vmss000000\",\"file.csi.azure.com\":\"aks-nodepool1-33547119-vmss000000\"}","node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"cloud-controller-manager","operation":"Update","apiVersion":"v1","time":"2023-02-21T05:10:35Z","fieldsType":"FieldsV1","fieldsV1":{"f:spec":{"f:podCIDR":{},"f:podCIDRs":{".":{},"v:\"10.244.3.0/24\"":{}}}}},{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2023-02-21T05:10:35Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:volumes.kubernetes.io/controller-managed-attach-detach":{}},"f:labels":{".":{},"f:agentpool":{},"f:beta.kubernetes.io/arch":{},"f:beta.kubernetes.io/os":{},"f:kubernetes.azure.com/agentpool":{},"f:kubernetes.azure.com/cluster":{},"f:kubernetes.azure.com/kub[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://my-aks-clu-clitestrgtvlkc-23f95f-c3b103d0.hcp.eastus.azmk8s.io/apis/batch/v1/namespaces/azure-arc-release/jobs?labelSelector=&timeoutSeconds=60&watch=True
  response:
    body:
      string: '{"type":"ADDED","object":{"kind":"Job","apiVersion":"batch/v1","metadata":{"name":"cluster-diagnostic-checks-job","namespace":"azure-arc-release","uid":"62086f00-75ff-4d14-8dc3-e6b590b6debf","resourceVersion":"1764","generation":1,"creationTimestamp":"2023-02-21T05:12:29Z","labels":{"app":"cluster-diagnostic-checks","app.kubernetes.io/managed-by":"Helm"},"annotations":{"meta.helm.sh/release-name":"cluster-diagnostic-checks","meta.helm.sh/release-namespace":"azure-arc-release"},"managedFields":[{"manager":"helm","operation":"Update","apiVersion":"batch/v1","time":"2023-02-21T05:12:29Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:meta.helm.sh/release-name":{},"f:meta.helm.sh/release-namespace":{}},"f:labels":{".":{},"f:app":{},"f:app.kubernetes.io/m[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://my-aks-clu-clitestrgtvlkc-23f95f-c3b103d0.hcp.eastus.azmk8s.io/api/v1/namespaces/azure-arc-release/pods
  response:
    body:
      string: '{"kind":"PodList","apiVersion":"v1","metadata":{"resourceVersion":"2053"},"items":[{"metadata":{"name":"cluster-diagnostic-checks-job-t772k","generateName":"cluster-diagnostic-checks-job-","namespace":"azure-arc-release","uid":"3ad681b6-5bdd-4d8b-8c88-7fefaa9292b2","resourceVersion":"1890","creationTimestamp":"2023-02-21T05:12:29Z","labels":{"app":"cluster-diagnostic-checks","controller-uid":"62086f00-75ff-4d14-8dc3-e6b590b6debf","job-name":"cluster-diagnostic-checks-job"},"ownerReferences":[{"apiVersion":"batch/v1","kind":"Job","name":"cluster-diagnostic-checks-job","uid":"62086f00-75ff-4d14-8dc3-e6b590b6debf","controller":true,"blockOwnerDeletion":true}],"managedFields":[{"manager":"kube-controller-manager","operation":"Update","apiVersion":"v1","time":"2023-02-21T05:12:29Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:generateName":{},"f:labels":{".":{},"f:app":{},"f:controller-uid":{},"f:job-name":{}},"f:ownerReferences":{".":{},"k:{\"uid\":\"62086f00-75ff-4d14-8dc3-e6b590b6debf\"}":{}}},"f:spec":{"f:affinity":{".":{},"f:nodeAffinity":{".":{},"f:requiredDuringSchedulingIgnoredDuringExecution":{}}},"f:containers":{"k:{\"name\":\"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://my-aks-clu-clitestrgtvlkc-23f95f-c3b103d0.hcp.eastus.azmk8s.io/api/v1/namespaces/azure-arc-release/pods/cluster-diagnostic-checks-job-t772k/log?container=cluster-diagnostic-checks-container
  response:
    body:
      string: "Executing DNS and outbound connectivity check\nDNS Result:Server:\t\t10.0.0.10\nAddress:\t10.0.0.10#53\n\nName:\tkubernetes.default.svc.cluster.local\nAddress:
        10.0.0.1\nOutbound Network Connectivity Result:200\n"
    headers:
      audit-id:
      - 41e90a23-2f35-4560-9c9c-a515223af1fb
      content-type:
      - text/plain
    status:
      code: 200
      message: OK
- request:
    body: '{"spec": {"resourceAttributes": {"verb": "create", "resource": "clusterrolebindings",
      "group": "rbac.authorization.k8s.io"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://my-aks-clu-clitestrgtvlkc-23f95f-c3b103d0.hcp.eastus.azmk8s.io/apis/authorization.k8s.io/v1/selfsubjectaccessreviews
  response:
    body:
      string: '{"kind":"SelfSubjectAccessReview","apiVersion":"authorization.k8s.io/v1","metadata":{"creationTimestamp":null,"managedFields":[{"manager":"OpenAPI-Generator","operation":"Update","apiVersion":"authorization.k8s.io/v1","time":"2023-02-21T05:13:32Z","fieldsType":"FieldsV1","fieldsV1":{"f:spec":{"f:resourceAttributes":{".":{},"f:group":{},"f:resource":{},"f:verb":{}}}}}]},"spec":{"resourceAttributes":{"verb":"create","group":"rbac.authorization.k8s.io","resource":"clusterrolebindings"}},"status":{"allowed":true}}

        '
    headers:
      audit-id:
      - 9071cf98-8868-4507-916d-74344fc88261
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - 89519159-3751-4f46-8f5e-ed50fac957b5
      x-kubernetes-pf-prioritylevel-uid:
      - 21509e93-c9e6-4877-8c7d-9ae6c93e71ff
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster?api-version=2021-10-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Kubernetes/connectedClusters/my-connected-cluster''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://eastus.dp.kubernetesconfiguration.azure.com/azure-arc-k8sagents/GetLatestHelmPackagePath?api-version=2019-11-01-preview&releaseTrain=stable
  response:
    body:
      string: '{"repositoryPath":"mcr.microsoft.com/azurearck8s/batch1/stable/azure-arc-k8sagents:1.10.4"}'
    headers:
      api-supported-versions:
      - 2019-11-01-Preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "properties": {"agentPublicKeyCertificate": "MIICCgKCAgEAzvUCQgOEfgQBf4Fu9ImtMUElO96sty+ceQ8ziL4coMdgEUUuM7NBotb4iAZuAGO9nl6j/gZOUSvD14dCQzEoK6W42BjesM14DHzWXmDYRQk5SAWrN+zuPtpNmq/5wsLJaWMK5jCijOuMayVDxinTEyISOVRUAbuSZT8i/WrbgyrYLLC3d3Q+1xQSpkIYoFoFi4J0fzrGZhY3mOXlKBQ/sc39V+4LbiQ7LHZse7uGb1cKtEmE/FExxPw1VDlA9REBcmo9184b+bZPDxgwAd+grw48K2JNKjwnHcniUV+Bd9xos0B66SSSt+dutUN4zdCAYFuIalBT/JPi/fCmWH872388lASubxgT46mcgpCaWoxQeEcXyVzEifOPzZf13AxVGWvkY695NIlTKvOzXSCqhQoXsYrc5xAyd0iadjUYJQVHj0TGbtoYhpLQTnlWQyPfk0iA3X/v+k4gcaASkKunxscgihAqIrAGvSNQFPBe3wwWIZzcySJJQ9+bWwD0as5Ze0FeMbBwLniXTXc2jhxWimUksxlBjKuZpHO/nphXHq2fIA3KWl/n7SiCJsYVmNqzdOBvanvszl/u+YunhsV+0pvsUadAUov3sx58CbYkx3PP0OVB1q70PAcqwcsWLgz5gBP+rpCQuHRK4MEWr7TjBmWmxxCW1BLx3BSmECxL7n8CAwEAAQ==",
      "distribution": "generic", "infrastructure": "generic"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster","name":"my-connected-cluster","type":"microsoft.kubernetes/connectedclusters","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-02-21T05:13:55.5255749Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-21T05:13:55.5255749Z"},"identity":{"principalId":"05674d1f-00b8-405f-8a8f-69bc8bd7c3c1","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted","connectivityStatus":"Connecting","agentPublicKeyCertificate":"MIICCgKCAgEAzvUCQgOEfgQBf4Fu9ImtMUElO96sty+ceQ8ziL4coMdgEUUuM7NBotb4iAZuAGO9nl6j/gZOUSvD14dCQzEoK6W42BjesM14DHzWXmDYRQk5SAWrN+zuPtpNmq/5wsLJaWMK5jCijOuMayVDxinTEyISOVRUAbuSZT8i/WrbgyrYLLC3d3Q+1xQSpkIYoFoFi4J0fzrGZhY3mOXlKBQ/sc39V+4LbiQ7LHZse7uGb1cKtEmE/FExxPw1VDlA9REBcmo9184b+bZPDxgwAd+grw48K2JNKjwnHcniUV+Bd9xos0B66SSSt+dutUN4zdCAYFuIalBT/JPi/fCmWH872388lASubxgT46mcgpCaWoxQeEcXyVzEifOPzZf13AxVGWvkY695NIlTKvOzXSCqhQoXsYrc5xAyd0iadjUYJQVHj0TGbtoYhpLQTnlWQyPfk0iA3X/v+k4gcaASkKunxscgihAqIrAGvSNQFPBe3wwWIZzcySJJQ9+bWwD0as5Ze0FeMbBwLniXTXc2jhxWimUksxlBjKuZpHO/nphXHq2fIA3KWl/n7SiCJsYVmNqzdOBvanvszl/u+YunhsV+0pvsUadAUov3sx58CbYkx3PP0OVB1q70PAcqwcsWLgz5gBP+rpCQuHRK4MEWr7TjBmWmxxCW1BLx3BSmECxL7n8CAwEAAQ==","distribution":"generic","infrastructure":"generic"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Kubernetes/locations/EASTUS/operationStatuses/99e0a2e6-6759-49d3-a82c-31f956fc3552*87F800752EF6E4361FAD7492B49ED8D48AD6D14DAB480A08A4813B0118B92C0F?api-version=2021-10-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"c30159eb-0000-0100-0000-63f453160000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Kubernetes/locations/EASTUS/operationStatuses/99e0a2e6-6759-49d3-a82c-31f956fc3552*87F800752EF6E4361FAD7492B49ED8D48AD6D14DAB480A08A4813B0118B92C0F?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Kubernetes/locations/EASTUS/operationStatuses/99e0a2e6-6759-49d3-a82c-31f956fc3552*87F800752EF6E4361FAD7492B49ED8D48AD6D14DAB480A08A4813B0118B92C0F","name":"99e0a2e6-6759-49d3-a82c-31f956fc3552*87F800752EF6E4361FAD7492B49ED8D48AD6D14DAB480A08A4813B0118B92C0F","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster","status":"Accepted","startTime":"2023-02-21T05:13:58.0997471Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3000dd61-0000-0100-0000-63f453160000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ExtendedLocation?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ExtendedLocation","namespace":"Microsoft.ExtendedLocation","authorizations":[{"applicationId":"bc313c14-388c-4e7d-a58e-70017303ee3b","roleDefinitionId":"a775b938-2819-4dd0-8067-01f6e3b06392"},{"applicationId":"319f651f-7ddb-4fc6-9857-7aef9250bd05","roleDefinitionId":"0981f4e0-04a7-4e31-bd2b-b2ac2fc6ba4e"}],"resourceTypes":[{"resourceType":"locations","locations":[],"apiVersions":["2021-03-15-preview","2020-07-15-privatepreview"],"capabilities":"None"},{"resourceType":"customLocations","locations":["East
        US","West Europe","North Europe","France Central","Southeast Asia","Australia
        East","East US 2","West US 2","UK South","Central US","West Central US","West
        US","North Central US","South Central US","Korea Central","Japan East","East
        Asia","West US 3","Canada Central","Canada East","Switzerland North","Sweden
        Central","South Africa North","UAE North","East US 2 EUAP"],"apiVersions":["2021-08-31-preview","2021-08-15","2021-03-15-preview","2020-07-15-privatepreview"],"defaultApiVersion":"2021-08-15","capabilities":"SystemAssignedResourceIdentity,
        SupportsTags, SupportsLocation"},{"resourceType":"customLocations/enabledResourceTypes","locations":["East
        US","West Europe","North Europe","France Central","Southeast Asia","Australia
        East","East US 2","West US 2","UK South","Central US","West Central US","West
        US","North Central US","South Central US","Korea Central","Japan East","East
        Asia","West US 3","Canada Central","Canada East","Switzerla[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=displayName%20eq%20%27Custom%20Locations%20RP%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"51dfe1e8-70c6-4de5-a08e-e18aff23d815","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"Custom
        Locations RP","appId":"bc313c14-388c-4e7d-a58e-70017303ee3b","applicationTemplateId":null,"appOwnerTenantId":"f8cdef31-a31e-4b4a-93e4-5f571e91255a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"Custom
        Locations RP","errorUrl":null,"homepage":null,"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft
        Services","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["bc313c14-388c-4e7d-a58e-70017303ee3b"],"servicePrincipalType":"Application","signInAudience":"AzureADMultipleOrgs","tags":[],"tokenEncryptionKeyId":null}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1653429'
      ocp-aad-diagnostics-server-name:
      - 70rrxdA7MnLvQg46TGmfADN+CWNQ33oh4QjT4t5P6Tk=
      ocp-aad-session-key:
[...]
