interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2023-02-17T06:29:26Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "", "dnsPrefix": "my-aks-clu-clitestrgzwrsa-23f95f", "agentPoolProfiles":
      [{"count": 3, "vmSize": "Standard_DS2_v2", "osDiskSizeGB": 0, "osType": "Linux",
      "enableAutoScaling": false, "type": "VirtualMachineScaleSets", "mode": "System",
      "orchestratorVersion": "", "upgradeSettings": {}, "enableNodePublicIP": false,
      "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice":
      -1.0, "nodeTaints": [], "enableEncryptionAtHost": false, "enableUltraSSD": false,
      "enableFIPS": false, "name": "nodepool1"}], "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDGk3i/MW4IwP9E5pM45ToHdqeEkcpDrH7qQP0ZX3+NQyUQBJFsjD4+SNF/zPm1a6Q53Xhurdy5w5m3lDlVaEGwWYPRlgIZ2GQkv+vZdiQ+YqH+f7Se5DcEQMmnrrdKIqwbug71n5j/KOOlkpBQfa3sOFaE4bPZkX1ufJW3eO4y/+uASqIYEAh0x6PFljgi17PGgYAiyE4oBUbp7HlvLDNsVutMAQ1zTHvaswdTrvXhVT/Fk+Bbgy/vZtD28i/MIWBjGHcaLXhTzATllQYXxgGbaMJogLfihKpWBFhCWVa/3/jbVxebtkhudU1jQg2tzfKdXHIjF1Yh7qW3FLyeDb5R"}]}},
      "addonProfiles": {}, "enableRBAC": true, "networkProfile": {"networkPlugin":
      "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP":
      "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer",
      "loadBalancerSku": "standard"}, "aadProfile": {"managed": true, "enableAzureRBAC":
      false}, "disableLocalAccounts": false, "storageProfile": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerService/managedClusters/my-aks-cluster?api-version=2022-09-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ContainerService/managedClusters/my-aks-cluster\",\n
        \ \"location\": \"eastus\",\n  \"name\": \"my-aks-cluster\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.24.9\",\n   \"currentKubernetesVersion\": \"1.24.9\",\n   \"dnsPrefix\":
        \"my-aks-clu-clitestrgzwrsa-23f95f\",\n   \"fqdn\": \"my-aks-clu-clitestrgzwrsa-23f95f-163000fc.hcp.eastus.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"my-aks-clu-clitestrgzwrsa-23f95f-163000fc.portal.hcp.eastus.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        3,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"maxPods\": 110,\n
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"enableAutoScaling\": false,\n
        \    \"provisioningState\": \"Creating\",\n     \"powerState\": {\n      \"code\":
        \"Running\"\n     },\n     \"orchestratorVersion\": \"1.24.9\",\n     \"currentOrchestratorVersion\":
        \"1.24.9\",\n     \"enableNodePublicIP\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-1804gen2containerd-2023.01.26\",\n     \"upgradeSettings\": {},\n
        \    \"enableFIPS\": false\n    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\":
        \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDGk3i/MW4IwP9E5pM45ToHdqeEkcpDrH7qQP0ZX3+NQyUQBJFsjD4+SNF/zPm1a6Q53Xhurdy5w5m3lDlVaEGwWYPRlgIZ2GQkv+vZdiQ+YqH+f7Se5DcEQMmnrrdKIqwbug71n5j/KOOlkpBQfa3sOFaE4bPZkX1ufJW3eO4y/+uASqIYEAh0x6PFljgi17PGgYAiyE4oBUbp7HlvLDNsVutMAQ1zTHvaswdTrvXhVT/Fk+Bbgy/vZtD28i/MIWBjGHcaLXhTzATllQYXxgGbaMJogLfihKpWBFhCWVa/3/jbVxebtkhudU1jQg2tzfKdXHIjF1Yh7qW3FLyeDb5R\"\n
        \     }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\": {\n    \"clientId\":
        \"msi\"\n   },\n   \"nodeResourceGroup\": \"MC_clitest.rg000001_my-aks-cluster_eastus\",\n
        \  \"enableRBAC\": true,\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\":
        {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     }\n    },\n    \"podCidr\":
        \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\":
        \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\":
        \"loadBalancer\",\n    \"podCidrs\": [\n     \"10.244.0.0/16\"\n    ],\n    \"serviceCidrs\":
        [\n     \"10.0.0.0/16\"\n    ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ]\n
        \  },\n   \"aadProfile\": {\n    \"managed\": true,\n    \"adminGroupObjectIDs\":
        null,\n    \"adminUsers\": null,\n    \"enableAzureRBAC\": false,\n    \"tenantID\":
        \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n   },\n   \"maxAgentPools\": 100,\n
        \  \"disableLocalAccounts\": false,\n   \"securityProfile\": {},\n   \"storageProfile\":
        {\n    \"diskCSIDriver\": {\n     \"enabled\": true\n    },\n    \"fileCSIDriver\":
        {\n     \"enabled\": true\n    },\n    \"snapshotController\": {\n     \"enabled\":
        true\n    }\n   },\n   \"oidcIssuerProfile\": {\n    \"enabled\": false\n
        \  }\n  },\n  \"identity\": {\n   \"type\": \"SystemAssigned\",\n   \"principalId\":
        \"e8bd5644-6ade-4946-8869-f9732ce9d068\",\n   \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n
        \ },\n  \"sku\": {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n
        }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/f08aa2bb-c15c-4f7c-b839-01108bf163f5?api-version=2017-08-31
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/f08aa2bb-c15c-4f7c-b839-01108bf163f5?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"bba28af0-5cc1-7c4f-b839-01108bf163f5\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2023-02-17T06:29:40.8967688Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/f08aa2bb-c15c-4f7c-b839-01108bf163f5?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"bba28af0-5cc1-7c4f-b839-01108bf163f5\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2023-02-17T06:29:40.8967688Z\",\n  \"endTime\":
        \"2023-02-17T06:33:55.7260596Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerService/managedClusters/my-aks-cluster/listClusterAdminCredential?api-version=2022-09-01
  response:
    body:
      string: "{\n  \"kubeconfigs\": [\n   {\n    \"name\": \"clusterAdmin\",\n    \"value\":
        \"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VVMlZFTkRRWFJIWjBGM1NVSkJaMGxTUVU1NWNERndTVmxQYmpoWlkwbzBkR2RGTnk5Q01XOTNSRkZaU2t0dldrbG9kbU5PUVZGRlRFSlJRWGNLUkZSRlRFMUJhMGRCTVZWRlFYaE5RMWt5UlhkSlFtTk9UV3BOZDAxcVJUTk5SRmw1VFVSUmVWZG9aMUJOYWtFeFRYcEJlVTFVWTNkT2FrMTNUa1JLWVFwTlFUQjRRM3BCU2tKblRsWkNRVTFVUVcxT2FFMUpTVU5KYWtGT1FtZHJjV2hyYVVjNWR6QkNRVkZGUmtGQlQwTkJaemhCVFVsSlEwTm5TME5CWjBWQkNuS[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kubernetes?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kubernetes","namespace":"Microsoft.Kubernetes","authorizations":[{"applicationId":"64b12d6e-6549-484c-8cc6-6281839ba394","roleDefinitionId":"1d1d44cf-68a1-4def-a2b6-cd7efc3515af"},{"applicationId":"359431ad-ece5-496b-8768-be4bbfd82f36","roleDefinitionId":"1b5c71b7-9814-4b40-b62a-23018af874d8"},{"applicationId":"0000dab9-8b21-4ba2-807f-1743968cef00","roleDefinitionId":"1b5c71b7-9814-4b40-b62a-23018af874d8"},{"applicationId":"8edd93e1-2103-40b4-bd70-6e34e586362d","roleDefinitionId":"eb67887a-31e8-4e4e-bf5b-14ff79351a6f"}],"resourceTypes":[{"resourceType":"connectedClusters","locations":["West
        Europe","East US","West Central US","South Central US","Southeast Asia","UK
        South","East US 2","West US 2","Australia East","North Europe","France Central","Central
        US","West US","North Central US","Korea Central","Japan East","East Asia","West
        US 3","Canada Central","East US 2 EUAP"],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"SystemAssignedResourceIdentity,
        SupportsTags, SupportsLocation"},{"resourceType":"locations","locations":[],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"locations/operationStatuses","locations":["East
        US 2 EUAP","West Europe","East US","West Central US","South Central US","Southeast
        Asia","UK South","East US 2","West US 2","Australia East","North Europe","France
        Central","Central US","West US","North Central US","Korea Central","Japan
        East","East Asia","West US 3","Canada East","Canada Central","Switzerland
        North"],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"registeredSubscriptions","locations":[],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"Operations","locations":[],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview","2019-11-01-preview","2019-09-01-privatepreview"],"capabilities":"None"}],"registrationState":"Registered","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration","namespace":"Microsoft.KubernetesConfiguration","authorizations":[{"applicationId":"c699bf69-fb1d-4eaf-999b-99e6b2ae4d85","roleDefinitionId":"901554[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://my-aks-clu-clitestrgzwrsa-23f95f-163000fc.hcp.eastus.azmk8s.io/version/
  response:
    body:
      string: "{\n  \"major\": \"1\",\n  \"minor\": \"24\",\n  \"gitVersion\": \"v1.24.9\",\n
        \ \"gitCommit\": \"9710807c82740b9799453677c977758becf0acbb\",\n  \"gitTreeState\":
        \"clean\",\n  \"buildDate\": \"2022-12-13T08:17:45Z\",\n  \"goVersion\": \"go1.18.9\",\n
        \ \"compiler\": \"gc\",\n  \"platform\": \"linux/amd64\"\n}"
    headers:
      audit-id:
      - 20e1665b-2ca3-42fb-a685-139e32ca3112
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - ea8a25c8-3400-4760-aef2-c3b16b7623e8
      x-kubernetes-pf-prioritylevel-uid:
      - 4b9b2710-2369-4a78-ace2-b485b56c0c3a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://my-aks-clu-clitestrgzwrsa-23f95f-163000fc.hcp.eastus.azmk8s.io/api/v1/nodes
  response:
    body:
      string: '{"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"1543"},"items":[{"metadata":{"name":"aks-nodepool1-18235284-vmss000000","uid":"55a99478-9b1f-406f-b815-b72a8d25832b","resourceVersion":"1138","creationTimestamp":"2023-02-17T06:32:26Z","labels":{"agentpool":"nodepool1","beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"Standard_DS2_v2","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"eastus","failure-domain.beta.kubernetes.io/zone":"0","kubernetes.azure.com/agentpool":"nodepool1","kubernetes.azure.com/cluster":"MC_clitest.rg000001_my-aks-cluster_eastus","kubernetes.azure.com/kubelet-identity-client-id":"1a62434a-e724-4bbb-8a6f-5ca59a5dc873","kubernetes.azure.com/mode":"system","kubernetes.azure.com/node-image-version":"AKSUbuntu-1804gen2containerd-2023.01.26","kubernetes.azure.com/os-sku":"Ubuntu","kubernetes.azure.com/role":"agent","kubernetes.azure.com/storageprofile":"managed","kubernetes.azure.com/storagetier":"Premium_LRS","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"aks-nodepool1-18235284-vmss000000","kubernetes.io/os":"linux","kubernetes.io/role":"agent","node-role.kubernetes.io/agent":"","node.kubernetes.io/instance-type":"Standard_DS2_v2","storageprofile":"managed","storagetier":"Premium_LRS","topology.disk.csi.azure.com/zone":"","topology.kubernetes.io/region":"eastus","topology.kubernetes.io/zone":"0"},"annotations":{"csi.volume.kubernetes.io/nodeid":"{\"disk.csi.azure.com\":\"aks-nodepool1-18235284-vmss000000\",\"file.csi.azure.com\":\"aks-nodepool1-18235284-vmss000000\"}","node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"cloud-controller-manager","operation":"Update","apiVersion":"v1","time":"2023-02-17T06:32:26Z","fieldsType":"FieldsV1","fieldsV1":{"f:spec":{"f:podCIDR":{},"f:podCIDRs":{".":{},"v:\"10.244.1.0/24\"":{}}}}},{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2023-02-17T06:32:26Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:volumes.kubernetes.io/controller-managed-attach-detach":{}},"f:labels":{".":{},"f:agentpool":{},"f:beta.kubernetes.io/arch":{},"f:beta.kubernetes.io/os":{},"f:kubernetes.azure.com/agentpool":{},"f:kubernetes.azure.com/cluster":{},"f:kubernetes.azure.com/kub[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://my-aks-clu-clitestrgzwrsa-23f95f-163000fc.hcp.eastus.azmk8s.io/apis/batch/v1/namespaces/azure-arc-release/jobs?labelSelector=&timeoutSeconds=60&watch=True
  response:
    body:
      string: '{"type":"ADDED","object":{"kind":"Job","apiVersion":"batch/v1","metadata":{"name":"cluster-diagnostic-checks-job","namespace":"azure-arc-release","uid":"5a2c851b-634f-4cf3-a127-161b9414f957","resourceVersion":"1606","generation":1,"creationTimestamp":"2023-02-17T06:34:37Z","labels":{"app":"cluster-diagnostic-checks","app.kubernetes.io/managed-by":"Helm"},"annotations":{"meta.helm.sh/release-name":"cluster-diagnostic-checks","meta.helm.sh/release-namespace":"azure-arc-release"},"managedFields":[{"manager":"helm","operation":"Update","apiVersion":"batch/v1","time":"2023-02-17T06:34:37Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:meta.helm.sh/release-name":{},"f:meta.helm.sh/release-namespace":{}},"f:labels":{".":{},"f:app":{},"f:app.kubernetes.io/m[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://my-aks-clu-clitestrgzwrsa-23f95f-163000fc.hcp.eastus.azmk8s.io/api/v1/namespaces/azure-arc-release/pods
  response:
    body:
      string: '{"kind":"PodList","apiVersion":"v1","metadata":{"resourceVersion":"1883"},"items":[{"metadata":{"name":"cluster-diagnostic-checks-job-8zxfx","generateName":"cluster-diagnostic-checks-job-","namespace":"azure-arc-release","uid":"8e8bf060-f029-4957-8df3-8774bc4657d3","resourceVersion":"1646","creationTimestamp":"2023-02-17T06:34:37Z","labels":{"app":"cluster-diagnostic-checks","controller-uid":"5a2c851b-634f-4cf3-a127-161b9414f957","job-name":"cluster-diagnostic-checks-job"},"ownerReferences":[{"apiVersion":"batch/v1","kind":"Job","name":"cluster-diagnostic-checks-job","uid":"5a2c851b-634f-4cf3-a127-161b9414f957","controller":true,"blockOwnerDeletion":true}],"managedFields":[{"manager":"kube-controller-manager","operation":"Update","apiVersion":"v1","time":"2023-02-17T06:34:37Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:generateName":{},"f:labels":{".":{},"f:app":{},"f:controller-uid":{},"f:job-name":{}},"f:ownerReferences":{".":{},"k:{\"uid\":\"5a2c851b-634f-4cf3-a127-161b9414f957\"}":{}}},"f:spec":{"f:affinity":{".":{},"f:nodeAffinity":{".":{},"f:requiredDuringSchedulingIgnoredDuringExecution":{}}},"f:containers":{"k:{\"name\":\"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://my-aks-clu-clitestrgzwrsa-23f95f-163000fc.hcp.eastus.azmk8s.io/api/v1/namespaces/azure-arc-release/pods/cluster-diagnostic-checks-job-8zxfx/log?container=cluster-diagnostic-checks-container
  response:
    body:
      string: "Executing DNS and outbound connectivity check\nDNS Result:Server:\t\t10.0.0.10\nAddress:\t10.0.0.10#53\n\nName:\tkubernetes.default.svc.cluster.local\nAddress:
        10.0.0.1\nOutbound Network Connectivity Result:200\n"
    headers:
      audit-id:
      - f4df587c-7394-4abb-b9b4-c311f4e1e1b9
      content-type:
      - text/plain
    status:
      code: 200
      message: OK
- request:
    body: '{"spec": {"resourceAttributes": {"verb": "create", "resource": "clusterrolebindings",
      "group": "rbac.authorization.k8s.io"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://my-aks-clu-clitestrgzwrsa-23f95f-163000fc.hcp.eastus.azmk8s.io/apis/authorization.k8s.io/v1/selfsubjectaccessreviews
  response:
    body:
      string: '{"kind":"SelfSubjectAccessReview","apiVersion":"authorization.k8s.io/v1","metadata":{"creationTimestamp":null,"managedFields":[{"manager":"OpenAPI-Generator","operation":"Update","apiVersion":"authorization.k8s.io/v1","time":"2023-02-17T06:35:40Z","fieldsType":"FieldsV1","fieldsV1":{"f:spec":{"f:resourceAttributes":{".":{},"f:group":{},"f:resource":{},"f:verb":{}}}}}]},"spec":{"resourceAttributes":{"verb":"create","group":"rbac.authorization.k8s.io","resource":"clusterrolebindings"}},"status":{"allowed":true}}

        '
    headers:
      audit-id:
      - 84ffafa2-760f-40d4-ac46-4e38632db469
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - ea8a25c8-3400-4760-aef2-c3b16b7623e8
      x-kubernetes-pf-prioritylevel-uid:
      - 4b9b2710-2369-4a78-ace2-b485b56c0c3a
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster?api-version=2021-10-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Kubernetes/connectedClusters/my-connected-cluster''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://eastus.dp.kubernetesconfiguration.azure.com/azure-arc-k8sagents/GetLatestHelmPackagePath?api-version=2019-11-01-preview&releaseTrain=stable
  response:
    body:
      string: '{"repositoryPath":"mcr.microsoft.com/azurearck8s/batch1/stable/azure-arc-k8sagents:1.10.4"}'
    headers:
      api-supported-versions:
      - 2019-11-01-Preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "properties": {"agentPublicKeyCertificate": "MIICCgKCAgEArnHvEkAOjQ2TQbWEYbFG7vdTDVYHpYC4hrvvUVJHpaVD6dxWItHPdl62E8c0cxbXojib7aS6BainPQqr8ohzBQZEmmyJT5rRUFTrP45c5itn9FfTko+SgdI+eeQuoV0otKjMag3TGrkjSTZMadCYWE2AzFUBy4LOyx4I0bMmdEi777K+RmDJxVMnB0hzjpe8bhQ0OVbYGQMXxDfVmKEX43J7ql9KeVcq5iz3e4SRQqHk+IXz/6GrCWInMkXZoXX/VwGA03wgUqmryNZ/ZF/i2CuuE0dNNRPJRV5cybDR29pN9fU0XyHwk0jbi/Bb3mnxo3I/K9UPag++uowe3ETGjHb322UrZPnFvKoIleh9VtHyZ7wHSC1JGlEJOB7GrT5/mQtAn6L/evubnvlMwTAha6JwOLsUNBFU61d4gUTEmG68hOEISQNxHMgQx9INws1NA5BCLS8nYG3Udipdbx9+l7JTwNmm8qFm0h/44IrASPweuMIGp6QHyBXLLo5RKyPNhsbIDXDesF9zHE4g1vSJHP5gStzqAAhQc8PXcQo40JFigUd8sYf3Qa2bUXRb8kD/wNiUDeesAthvHEgyjKnc7+D1SDiTV3XgQ/ybCO/WKahQ/tkNj7xbhlbR1zHlIsu/ZM36YaV/JqFqN0KNOL2doY7cFRxoD0YbQPasqCsDae8CAwEAAQ==",
      "distribution": "generic", "infrastructure": "generic"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster","name":"my-connected-cluster","type":"microsoft.kubernetes/connectedclusters","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-02-17T06:36:16.4556265Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-17T06:36:16.4556265Z"},"identity":{"principalId":"e6d384d9-985a-4027-a18b-ae1aef74e5eb","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted","connectivityStatus":"Connecting","agentPublicKeyCertificate":"MIICCgKCAgEArnHvEkAOjQ2TQbWEYbFG7vdTDVYHpYC4hrvvUVJHpaVD6dxWItHPdl62E8c0cxbXojib7aS6BainPQqr8ohzBQZEmmyJT5rRUFTrP45c5itn9FfTko+SgdI+eeQuoV0otKjMag3TGrkjSTZMadCYWE2AzFUBy4LOyx4I0bMmdEi777K+RmDJxVMnB0hzjpe8bhQ0OVbYGQMXxDfVmKEX43J7ql9KeVcq5iz3e4SRQqHk+IXz/6GrCWInMkXZoXX/VwGA03wgUqmryNZ/ZF/i2CuuE0dNNRPJRV5cybDR29pN9fU0XyHwk0jbi/Bb3mnxo3I/K9UPag++uowe3ETGjHb322UrZPnFvKoIleh9VtHyZ7wHSC1JGlEJOB7GrT5/mQtAn6L/evubnvlMwTAha6JwOLsUNBFU61d4gUTEmG68hOEISQNxHMgQx9INws1NA5BCLS8nYG3Udipdbx9+l7JTwNmm8qFm0h/44IrASPweuMIGp6QHyBXLLo5RKyPNhsbIDXDesF9zHE4g1vSJHP5gStzqAAhQc8PXcQo40JFigUd8sYf3Qa2bUXRb8kD/wNiUDeesAthvHEgyjKnc7+D1SDiTV3XgQ/ybCO/WKahQ/tkNj7xbhlbR1zHlIsu/ZM36YaV/JqFqN0KNOL2doY7cFRxoD0YbQPasqCsDae8CAwEAAQ==","distribution":"generic","infrastructure":"generic"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Kubernetes/locations/EASTUS/operationStatuses/0b52bd33-78bf-42d2-8f33-425c1f4f968d*9625208649E84C665EC70D59F0B466DEC455C695A8D0ED09810CA0693082B5FD?api-version=2021-10-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3301ad98-0000-0100-0000-63ef20640000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Kubernetes/locations/EASTUS/operationStatuses/0b52bd33-78bf-42d2-8f33-425c1f4f968d*9625208649E84C665EC70D59F0B466DEC455C695A8D0ED09810CA0693082B5FD?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Kubernetes/locations/EASTUS/operationStatuses/0b52bd33-78bf-42d2-8f33-425c1f4f968d*9625208649E84C665EC70D59F0B466DEC455C695A8D0ED09810CA0693082B5FD","name":"0b52bd33-78bf-42d2-8f33-425c1f4f968d*9625208649E84C665EC70D59F0B466DEC455C695A8D0ED09810CA0693082B5FD","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster","status":"Accepted","startTime":"2023-02-17T06:36:19.4099085Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2300e2de-0000-0100-0000-63ef20630000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ExtendedLocation?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ExtendedLocation","namespace":"Microsoft.ExtendedLocation","authorizations":[{"applicationId":"bc313c14-388c-4e7d-a58e-70017303ee3b","roleDefinitionId":"a775b938-2819-4dd0-8067-01f6e3b06392"},{"applicationId":"319f651f-7ddb-4fc6-9857-7aef9250bd05","roleDefinitionId":"0981f4e0-04a7-4e31-bd2b-b2ac2fc6ba4e"}],"resourceTypes":[{"resourceType":"locations","locations":[],"apiVersions":["2021-03-15-preview","2020-07-15-privatepreview"],"capabilities":"None"},{"resourceType":"customLocations","locations":["East
        US","West Europe","North Europe","France Central","Southeast Asia","Australia
        East","East US 2","West US 2","UK South","Central US","West Central US","West
        US","North Central US","South Central US","Korea Central","Japan East","East
        Asia","West US 3","Canada Central","Canada East","Switzerland North","Sweden
        Central","South Africa North","UAE North","East US 2 EUAP"],"apiVersions":["2021-08-31-preview","2021-08-15","2021-03-15-preview","2020-07-15-privatepreview"],"defaultApiVersion":"2021-08-15","capabilities":"SystemAssignedResourceIdentity,
        SupportsTags, SupportsLocation"},{"resourceType":"customLocations/enabledResourceTypes","locations":["East
        US","West Europe","North Europe","France Central","Southeast Asia","Australia
        East","East US 2","West US 2","UK South","Central US","West Central US","West
        US","North Central US","South Central US","Korea Central","Japan East","East
        Asia","West US 3","Canada Central","Canada East","Switzerla[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=displayName%20eq%20%27Custom%20Locations%20RP%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"51dfe1e8-70c6-4de5-a08e-e18aff23d815","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"Custom
        Locations RP","appId":"bc313c14-388c-4e7d-a58e-70017303ee3b","applicationTemplateId":null,"appOwnerTenantId":"f8cdef31-a31e-4b4a-93e4-5f571e91255a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"Custom
        Locations RP","errorUrl":null,"homepage":null,"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft
        Services","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["bc313c14-388c-4e7d-a58e-70017303ee3b"],"servicePrincipalType":"Application","signInAudience":"AzureADMultipleOrgs","tags":[],"tokenEncryptionKeyId":null}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1399333'
      ocp-aad-diagnostics-server-name:
      - 70rrxdA7MnLvQg46TGmfADN+CWNQ33oh4QjT4t5P6Tk=
      ocp-aad-session-key:
[...]
