interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration","namespace":"Microsoft.KubernetesConfiguration","authorizations":[{"applicationId":"c699bf69-fb1d-4eaf-999b-99e6b2ae4d85","roleDefinitionId":"90155430-a360-410f-af5d-89dc284d85c6"},{"applicationId":"03db181c-e9d3-4868-9097-f0b728327182","roleDefinitionId":"DE2ADB97-42D8-49C8-8FCF-DBB53EF936AC"},{"applicationId":"a0f92522-89de-4c5e-9a75-0044ccf66efd","roleDefinitionId":"b3429810-7d5c-420e-8605-cf280f3099f2"},{"applicationId":"bd9b7cd5-dac1-495f-b013-ac871e98fa5f","roleDefinitionId":"0d44c8f0-08b9-44d4-9f59-e51c83f95200"},{"applicationId":"585fc3c3-9a59-4720-8319-53cce041a605","roleDefinitionId":"4a9ce2ee-6de2-43ba-a7bd-8f316de763a7"}],"resourceTypes":[{"resourceType":"sourceControlConfigurations","locations":["East
        US","West Europe","West Central US","West US 2","West US 3","South Central
        US","East US 2","North Europe","UK South","Southeast Asia","Australia East","France
        Central","Central US","North Central US","West US","Korea Central","East Asia","Japan
        East","Canada East","Canada Central","Norway East","Germany West Central","Sweden
        Central","Switzerland North","Australia Southeast","Central India","South
        India","Japan West","Uk West","France South","Korea South","South Africa North","Brazil
        South","Uae North"],"apiVersions":["2022-11-01","2022-07-01","2022-03-01","2021-03-01","2020-10-01-preview","2020-07-01-preview","2019-11-01-preview"],"defaultApiVersion":"2022-03-01","capabilities":"SupportsExtension"},{"resourceType":"extensions","locations":["East
        US","West Europe","West Central US","West US 2","West US 3","South Central
        US","East US 2","North Europe","UK South","Southeast Asia","Australia East","France
        Central","Central US","North Central US","West US","Korea Central","East Asia","Japan
        East","Canada East","Canada Central","Norway East","Germany West Central","Sweden
        Central","Switzerland North","Australia Southeast","Central Indi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/quickupori8/providers/Microsoft.Kubernetes/connectedClusters/quickupori8-cluster?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/quickupori8/providers/Microsoft.Kubernetes/connectedClusters/quickupori8-cluster","name":"quickupori8-cluster","type":"microsoft.kubernetes/connectedclusters","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-02-13T08:35:55.9385911Z","lastModifiedBy":"64b12d6e-6549-484c-8cc6-6281839ba394","lastModifiedByType":"Application","lastModifiedAt":"2023-02-13T08:37:50.1635349Z"},"identity":{"principalId":"4c82f068-b41c-43de-86f8-652f4c38ca36","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Succeeded","connectivityStatus":"Connected","agentPublicKeyCertificate":"MIICCgKCAgEAlVf5NVSnNnzegZ7f+UGeHQ86Vmnbz2ZOA4KOnSsQbd+lnzH/t0QO7uSrZxElc4smUPJHLh26uppZxJFzYT0qDSLbsb4xP/P/aZRR7ZVT65ZmQqttC5zFbCFRVPtKxWSErhjy5MP14tuqzvc/MYaQdunB4ofmcxzCvowAbez+tdkIi9/EKYXDTkLiB6BZGcE6BLmxspnqfTJtrvTgR5WPhY/6gdJL1reBYsKjS0aPax+qq/JERpAF8RkUfh1rK7dKdsBvfWdzrWQ3524xqdAKea/NqIRwAA+X9ZEfvYHtfUUBpWn1YOsAI0PY8FZDvls52ErTTTp00uQqpa7xY8r6EJ1u/nN6MTO/6b16CwQBTBf+ePFNLKVH2zVUUe8MQ8VfVAhqEmfVb4pjyQel6CFXdgabb302X3aecdO2aFW/Ae//OivgtAH/JiuzJEkYYAxyGGtbZun2Wx1+qdFt5VXkvoH9OikHd9lfsxXKxjGk3CeMG72ljnhmD6EuvFV40P2wEuoIAHnJl8mx60wK8RMrizXl1eBgthrNpnePWEOTRzZ0Of6C2B7Zhx7NC4HHLisLFb/5JFD6x1KmE/cEGhfMdKDZjs0c5mTuPQ6w5eleGqp0o2Ro0qblgDDUZQJZB6yH1KlZGkhrj5XMlwMnZZVlV0/RLbUQt9hayMYV94gs7v8CAwEAAQ==","distribution":"aks","infrastructure":"azure","kubernetesVersion":"1.24.9","totalNodeCount":4,"agentVersion":"1.10.4","totalCoreCount":8,"lastConnectivityTime":"2023-02-13T08:37:09.675Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9b00c809-0000-0100-0000-63e9f6de0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "properties": {"extensionType":
      "microsoft.app.environment", "releaseTrain": "stable", "scope": {"cluster":
      {"releaseNamespace": "containerapp-ns"}}, "configurationSettings": {"Microsoft.CustomLocation.ServiceAccount":
      "default", "appsNamespace": "containerapp-ns", "clusterName": "containerapps-ext"},
      "configurationProtectedSettings": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/quickupori8/providers/Microsoft.Kubernetes/connectedClusters/quickupori8-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapps-ext?api-version=2022-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/quickupori8/providers/Microsoft.Kubernetes/connectedClusters/quickupori8-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapps-ext","name":"containerapps-ext","type":"Microsoft.KubernetesConfiguration/extensions","properties":{"extensionType":"microsoft.app.environment","autoUpgradeMinorVersion":true,"releaseTrain":"stable","version":null,"scope":{"cluster":{"releaseNamespace":"containerapp-ns"}},"provisioningState":"Creating","configurationSettings":{"Microsoft.CustomLocation.ServiceAccount":"default","appsNamespace":"containerapp-ns","clusterName":"containerapps-ext"},"configurationProtectedSettings":{},"statuses":[],"aksAssignedIdentity":null},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2023-02-13T08:40:02.5069571+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2023-02-13T08:40:02.5069571+00:00"},"identity":{"type":"SystemAssigned","principalId":"8f37ef9f-1f7c-4303-8925-cb5ce781235f"}}'
    headers:
      api-supported-versions:
      - '2022-03-01'
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/quickupori8/providers/Microsoft.Kubernetes/ConnectedClusters/quickupori8-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapps-ext/operations/4fd27342-5c4d-4cce-ba4b-2ed0a80cf492?api-Version=2022-03-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://eastus.rp.kubernetesconfiguration.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/quickupori8/providers/Microsoft.Kubernetes/ConnectedClusters/quickupori8-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapps-ext
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/quickupori8/providers/Microsoft.Kubernetes/ConnectedClusters/quickupori8-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapps-ext/operations/4fd27342-5c4d-4cce-ba4b-2ed0a80cf492?api-Version=2022-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/quickupori8/providers/Microsoft.Kubernetes/ConnectedClusters/quickupori8-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapps-ext/operations/4fd27342-5c4d-4cce-ba4b-2ed0a80cf492","name":"4fd27342-5c4d-4cce-ba4b-2ed0a80cf492","status":"Creating"}'
    headers:
      api-supported-versions:
      - 2019-11-01-Preview, 2021-05-01-preview, 2021-06-01-preview, 2021-09-01, 2021-11-01-preview,
        2022-01-01-preview, 2022-03-01, 2022-04-02-preview, 2022-07-01, 2022-11-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
